body {
  background-color: darkgoldenrod;
  color: whitesmoke;
}

h1 {
  text-align: center;
  color: darkslateblue;
  font-weight: bolder;
}

article {
  text-align: center;
  color: darkturquoise;
}